<!DOCTYPE html>
<html style="height:100%;">

<head>
    <meta charset="utf-8">
    <title>Lesson Generator</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/octicons/4.4.0/font/octicons.min.css">
</head>

<body class="search">
  <div class="search-container container d-flex h-100">
    <div class="justify-content-center align-self-center mx-auto">
       <h1 class="text-center">Lesson Generator</h1>
        <form action="/lesson" id="search">
          <div class="form-group input-group">
            <input class="form-control" required placeholder="Search" name="q" id="q" type="text">
            <div class="input-group-btn">
              <button class="btn btn-default search-btn" type="submit">
                <span class="octicon octicon-search"></i>
              </button>
            </div>
          </div>
        </form>
    </div>
  </div>
</body>
</html>
